In [2]:
0 < 6 <= 6 < 9

True

In [7]:
print((9 + 6j) * (9 - 6j))

(117+0j)

In [8]:
a = [9,3,7,3]

In [9]:
print(a.reverse())

None

In [10]:
print(a)

[3, 7, 3, 9]

In [13]:
sorted(a)

[3, 3, 7, 9]

In [15]:
print(reversed(a))

<list_reverseiterator object at 0x000001F338DC7E48>

In [18]:
print(list(reversed(a)))

[9, 3, 7, 3]

In [21]:
b = a[:].reverse()

In [22]:
print(b)

None

In [23]:
#cannot sort heterogenous list in python 3

In [24]:
3 in a

True

In [25]:
a

[3, 7, 3, 9]

In [26]:
b is None

True

In [27]:
"d" + "f"

'df'

In [28]:
"d" * 8

'dddddddd'

In [30]:
"A" in '''Shreyas'''

False

In [31]:
t = (3,5,8)

In [32]:
T = (5,8,2)

In [34]:
sorted(T)

[2, 5, 8]

#part2 loops and conditions

no switch case in pyhton

In [36]:
a, b , n = 0 , 1, 0
while n < 10:
    print(a, end = " ")
    a, b = b, a + b
    n += 1

0 1 1 2 3 5 8 13 21 34

In [37]:
def isPrime(n: int) -> bool:
    return False;

In [39]:
divmod(10, 2)

(5, 0)

In [40]:
divmod??

In [54]:
def quotrem(n, d):
    return n // d, abs(n % d)

In [52]:
divmod(17,-3)

(-6, -1)

In [55]:
divmod(0,1)

(0, 0)

In [57]:
quotrem(1,1)

(1, 0)

In [58]:
quotrem(-17,4)

(-5, 3)

In [59]:
f = [0,1,1,2,3,5,8,13,21,34,55,89]

In [60]:
list(filter(lambda x: x%2 == 0, f))

[0, 2, 8, 34]

In [61]:
[x for x in f if x % 2 == 0]

[0, 2, 8, 34]

In [62]:
[x * 3 + 1 for x in f if x % 2 == 0]

[1, 7, 25, 103]